{% extends '::base.html.twig' %}

{% block title %}
    This could be a dynamic title.
{% endblock %}

{% block body %}
    Hello Antonino!
{% endblock %}

{% block header %}
    <h1>This is the new header</h1>
{% endblock %}

{% block footer %}
    This is my custom footer for the testGlobalTemplate action.
{% endblock %}
